<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Beautify.CSS -->
    <link href="../css/moonhare.css" rel="stylesheet">

    <title>MoonHare examples - components - buttons</title>
  </head>
  <body>
    <div id="container">
        <h1>Buttons - components - MoonHare</h1>
        <p>
            <a href="../index.htm">return to index</a>
        </p>
        <div class="button">I am a button</div>
        <br /><br /><hr /><br /><br />
        <div class="button borderless">I am a button borderless</div>
    </div>
  </body>
</html>
