<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Beautify.CSS -->
    <link href="../css/beautify-reset.css" rel="stylesheet">
    <link href="../css/beautify.css" rel="stylesheet">
    <link href="../css/beautify-grid.css" rel="stylesheet">

    <title>MoonHare examples - components - cards</title>
  </head>
  <body>
    <div id="container">
        <h1>Cards - components - MoonHare</h1>
        <p>
            <a href="../index.htm">return to index</a>
        </p>
        <div class="card">
            I am a card
            <div class="content">
                I am the content
            </div>
        </div>
        <br /><br /><hr /><br /><br />
        <div class="card">
            I am another card
            <div class="content">
                I am the content
                <hr />
                more more and more
            </div>
        </div>
    </div>
  </body>
</html>