<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MooHare.CSS -->
    <link href="../../css/moonhare.css" rel="stylesheet">

    <title>MoonHare examples - components - alert</title>
  </head>
  <body>
    <div id="container">
        <h1>Alert - components - MoonHare</h1>
        <p>
            [TO DO - not yet implemented]
            <a href="../index.htm">return to index</a>
        </p>
        <div class="alert">
            <div class="heading">I am an alert</div>
            <div class="body">This is text of the alert</div>
        </div>
        <br /><br /><hr /><br /><br />
        <div class="alert dismissible">
            <div class="heading">I am an alert dismissible</div>
            <div class="body">This is text of the alert</div>
            <div class="close">Close</div>
        </div>
    </div>
  </body>
</html>
