<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MooHare.CSS -->
    <link href="../../css/moonhare.css" rel="stylesheet">

    <title>MoonHare examples - components - badge</title>
  </head>
  <body>
    <div id="container">
        <h1>Badge - components - MoonHare</h1>
        <p>
            [TO DO - not yet implemented]
            <a href="../index.htm">return to index</a>
        </p>
        <div class="badge">
            badge 1
        </div>
        <br /><br /><hr /><br /><br />
        <div class="badge">
           <!-- badge empty -->
        </div>
        <br /><br /><hr /><br /><br />
        <div class="btn badge">
           I am a badge button
        </div>
    </div>
  </body>
</html>
